COMPOSE_PROJECT_NAME=said-diplom
SITE_DOMAIN=said-diplom.ru
SITE_URL=https://said-diplom.ru
APP_NAME="Вектор"
APP_URL=https://said-diplom.ru
FRONTEND_URL=https://said-diplom.ru
EMAIL_VERIFICATION_EXPIRE_MINUTES=10

POSTGRES_DB=vector
POSTGRES_USER=vector
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD

REVERB_APP_KEY=local-app-key

GITHUB_CLIENT_ID=CHANGE_ME
GITHUB_CLIENT_SECRET=CHANGE_ME
GITHUB_REDIRECT_URI=https://said-diplom.ru/api/auth/oauth/github/callback
